
  <footer class="footer pt-5 mt-5">
    <div class="container">
      <div class=" row">
        <div class="col-md-3 mb-4 ms-auto">
          <div>
            <a href="https://appseed.us/apps/flask-apps/flask-material-kit">
              <img src="/static/assets/img/logo-ct-dark.png" class="mb-3 footer-logo" alt="main_logo">
            </a>
            <h6 class="font-weight-bolder mb-4">  HIVE</h6>
          </div>
        </div>
        <div class="col-12">
          <div class="text-center">
          </div>
        </div>
      </div>
    </div>
  </footer>


